body {
  background: rgb(20, 20, 20);
  position: relative;
  margin: 50% 0 0 0;
  overflow: hidden;
}

.sound {
  margin-top: -1500px;
}

.wrapper {
  display: flex;
  width: 60%;
  margin: 0 auto;
  perspective: 1000px;
}

.container {
  color: #ffc909;
  font-size: 3vw;
  font-weight: bold;
  line-height: 1.5em;
  text-align: justify;
  position: relative;
  animation: scroll 30s linear forwards infinite;
}

.episode,
.title {
  text-align: center;
  margin-bottom: 40px;
}

.text.one {
  margin-bottom: 40px;
}

@keyframes scroll {
  0% {
    top: 0;
    transform: translateZ(0) rotateX(20deg);
  }

  100% {
    top: -4200px;
    transform: translateZ(-1500px) rotateX(21deg);
  }
}
