<header class="header">
  <div class="header-bg">
    <div class="header-top">
      <div class="logo">
        <a href="">
          <p class="logo-letter">H</p>
          <p class="logo-title">the<span>Ham</span></p>
        </a>
      </div>
      <nav class="nav-menu">
        <ul class="nav-menu-wrap">
          <li class="nav-item"><a href="">Home</a></li>
          <li class="nav-item"><a href="">About</a></li>
          <li class="nav-item"><a href="">Blog</a></li>
          <li class="nav-item"><a href="">Skills</a></li>
          <li class="nav-item"><a href="">Service</a></li>
          <li class="nav-item"><a href="">Work</a></li>
          <li class="nav-item"><a href="">Testimonial</a></li>
        </ul>
      </nav>
      <div class="search-bar">
        <a href=""><img src="./img/header/search.png" alt="" /></a>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="bottom-text">
      <h3>The Ham is <span>Wordpress theme</span></h3>
      <h2>We are creative</h2>
      <p>Just Buy And Enjoy These Awesome Features</p>
    </div>
    <div class="buttons">
      <button class="explore-button button">EXPLORE NOW</button>
      <button class="purchase-button button">PURCHASE NOW</button>
    </div>
  </div>
</header>
