body {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #000;
}

.menu {
  text-align: center;
}

.score-board {
  margin-top: 30%;
  width: 200px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
}

.user-points {
  margin-top: 25px;
}
