header {
  background-color: rgb(11, 148, 228);
  height: 80px;
}

.header__menu {
  height: 80px;
  margin: 0 auto;
  width: 800px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(11, 148, 228);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  a:hover {
    color: rgb(181, 228, 11);
    background-color: rgb(81, 176, 231);
  }
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 50px;
  }
}

.container__content {
  display: flex;
  flex-wrap: wrap;
}

.content {
  display: flex;
  margin: 20px;
  width: 700px;
  height: 200px;
  p {
    text-align: center;
    padding: 20px;
    margin: auto 0;
    &:hover {
      color: white;
      background-color: rgb(11, 148, 228);
    }
  }
  border: 1px solid black;
}

footer {
  height: 150px;
  background-color: #000;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.second-section {
  background: url(../img/section-3.jpg);
  background-position: 50%;
  width: 100%;
}

.bg-pigture-with-text {
  padding: 100px;
  padding-top: 50px;
  color: grey;
  h2 {
    padding-bottom: 50px;
  }
  p {
    font-size: 25px;
    line-height: 50px;
  }
}
