@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header {
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 72px;
}
a {
  text-decoration: none;
  color: #ff0000;
}

.img {
  margin-top: 25px;
}

.main {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.tittle {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.first-paragraph {
  margin-top: 38px;
}

.section-paragraph {
  margin-top: 28px;
}

p {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;
}

button {
  margin-top: 66px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  width: 191px;
  height: 51px;
  background-color: #ff0000;
  border-radius: 4px;
  border-width: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

footer {
  margin-top: 80px;
  text-align: right;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #373737;
  letter-spacing: 2px;
}
