/* Create css Twitter card */
.twitter-card {
  width: 1200px;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}