:root {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.header {
  background-image: url(../img/header/bg.png);
  background-size: cover;
  position: relative;
}

.header-bg {
  background: rgba(94, 93, 88, 0.6);
}

.header-top {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #fff;
  height: 120px;
}

.logo-letter {
  position: absolute;
  left: 16.5px;
  font-weight: bold;
}

.logo::before {
  content: url(../img/header/logo.svg);
  margin-top: 5px;
  padding-right: 5px;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: 32px;
}

.logo span {
  font-weight: bold;
  color: #18cfab;
}

.nav-menu-wrap {
  display: flex;
}

.nav-item {
  margin-right: 30px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.5s;
  padding: 50px 0 50px;
}

.nav-item:hover {
  color: #18cfab;
  transition: 0.5s;
  border-bottom: 1px solid #18cfab;
  /* text-decoration: underline; */
}

.header-bottom {
  text-align: center;
  margin-top: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

.bottom-text h3 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}

.bottom-text h3 span {
  color: #18cfab;
}

.bottom-text h2 {
  font-weight: bold;
  font-size: 78px;
  margin-bottom: 20px;
}

.header-bottom p {
  font-size: 34px;
  color: #d4d4d4;
  text-transform: none;
}

.buttons {
  display: flex;
  width: 365px;
  justify-content: space-between;
  margin-top: 135px;
  margin-bottom: 245px;
}

.button {
  font-family: 'Montserrat', sans-serif;
  width: 170px;
  height: 70px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  border-top: 5px solid white;
}

.explore-button {
  background: #18cfab;
}

.purchase-button {
  background: #00cbf6;
}

.options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.options div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  padding-top: 110px;
}

.options p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 60px;
}

.customizable p {
  margin-top: 61px;
}

.theme p,
.support p {
  margin-top: 40px;
}

.customizable,
.devices {
  background: #18cfab;
  color: white;
}

.theme,
.support {
  background: #1c2a33;
  color: #18cfab;
}

.service {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  margin-top: 80px;
}

.service {
  color: #4e4e4e;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 25px;
}

.service::before {
  top: 50px;
  margin-left: -39px;
}

.service::before,
.service::after {
  position: absolute;
  content: '';
  border-bottom: 2px solid #18cfab;
  left: 50%;
  width: 79px;
}

.service::after {
  top: 55px;
  margin-left: -30px;
}

.service-menu {
  margin-top: 100px;
}

.service-menu-wrap {
  width: 1160px;
  display: flex;
  background: #f8fcfe;
  color: #717171;
  margin-bottom: 25px;
}

.service-menu-wrap button {
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  height: 70px;
  border: 1px solid #edefef;
}

.service-menu-wrap button:hover {
  border: 1.5px solid #18cfab;
}

.service-menu-wrap .active {
  background: #18cfab;
  color: #fff;
  border: 1.5px solid #18cfab;
}

.disc {
  display: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.disc.active {
  display: flex;
}

.disc img {
  width: 180px;
}

figcaption {
  margin-left: 15px;
}

.purchase {
  margin-top: 90px;
  padding: 125px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/body/purchase/section-2.jpg);
  background-position: 50% 40%;
}

.purchase {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

.purchase h3 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
  color: #18cfab;
}

.purchase p {
  font-size: 16px;
  color: #d8d8d8;
  text-transform: none;
  margin-bottom: 80px;
}

.purchase-container .button {
  background: #18cfab;
}

.work {
  background: #e9edef;
}

.work {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 95px;
  padding-bottom: 100px;
}

.work h3 {
  color: #4e4e4e;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 25px;
}

.work::before {
  top: 150px;
  margin-left: -39px;
}

.work::before,
.work::after {
  position: absolute;
  content: '';
  border-bottom: 2px solid #18cfab;
  left: 50%;
  width: 79px;
}

.work::after {
  top: 155px;
  margin-left: -30px;
}

.work-menu {
  margin-top: 70px;
}

.work-menu-wrap {
  width: 560px;
  display: flex;
  color: #717171;
  margin-bottom: 25px;
  font-size: 14px;
}

.work-menu-wrap button {
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  height: 60px;
  border: 1px solid #dadada;
}

.work-menu-wrap button:hover,
button.active {
  border: 1px solid #18cfab;
  color: #18cfab;
}

.work-examples {
  width: 1140px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 285px));
}

.work .item {
  display: none;
  position: relative;
  height: 206px;
}

.work .item.active {
  display: block;
}

.hover-menu {
  position: absolute;
  width: 285px;
  height: 206px;
  background: #e9edef;
  border-top: 2px solid #18cfab;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.hover-buttons {
  display: flex;
  margin-top: 40px;
}

.hover-buttons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #18cfab;
}

.hb.one img {
  margin-top: 3px;
}

.hb.one:hover {
  background: #18cfab;
  transition: 0.5s;
}

.hb.two {
  margin-left: 3px;
  background: #e9edef;
  transition: 0.5s;
}

.hb.two .cube {
  width: 12px;
  height: 12px;
  background: white;
  margin-left: 7px;
}

.hb.two:hover {
  background: #18cfab;
  transition: 0.5s;
}

.hover-title {
  font-weight: bold;
  font-size: 14px;
  color: #18cfab;
  text-transform: uppercase;
  margin-top: 40px;
}

.hover-text {
  font-size: 12px;
  color: #8a8a8a;
  margin-top: 15px;
}

.work .item:hover .hover-menu {
  opacity: 1;
  transition: 0.5s;
}

.load-more {
  margin-top: 70px;
  display: flex;
  align-items: center;
  width: 170px;
  height: 60px;
  background: #18cfab;
  border: none;
  border-radius: 5px;
}

.load-more img {
  margin-left: 15px;
}

.load-more p {
  margin-left: 15px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

.breaking-news {
  position: relative;
  background: #ffffff;
}

.bn-title {
  position: relative;
  padding-top: 80px;
  margin-bottom: 100px;
  text-align: center;
}

.breaking-news::before {
  top: 140px;
  margin-left: -39px;
}

.breaking-news::before,
.breaking-news::after {
  position: absolute;
  content: '';
  border-bottom: 2px solid #18cfab;
  left: 50%;
  width: 79px;
}

.breaking-news::after {
  top: 145px;
  margin-left: -30px;
}

.bn-content {
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.breaking-news .item {
  margin-bottom: 30px;
}

.breaking-news .title {
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 39px;
  color: #717171;
}

.breaking-news .date {
  position: absolute;
  margin-left: 193px;
  width: 70px;
  height: 70px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #203e38;
}

.breaking-news .date p {
  width: 30px;
  text-align: center;
  line-height: 25px;
}

.item a:hover .date {
  background: #18cfab;
}

.item a:hover h4 {
  color: #18cfab;
}

.breaking-news .under-title {
  max-width: 210px;
  display: flex;
  font-weight: 300;
  font-size: 14px;
  color: #777777;
  margin-left: 15px;
}

.breaking-news .by {
  padding-right: 15px;
  border-right: 1px solid #777777;
}

.breaking-news .comments {
  padding-left: 15px;
}

.breaking-news h3 {
  color: #4e4e4e;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 25px;
}

/* CLIENT-FEEDBACK */

.client-feedback {
  margin-top: 150px;
  position: relative;
  height: 900px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/sections_background/section-3.jpg);
  background-size: cover;
  text-align: center;
}

.client-feedback h3 {
  font-size: 36px;
  line-height: 40px;
  padding-top: 90px;
  color: white;
}

.client-feedback::before {
  top: 150px;
  margin-left: -39px;
}

.client-feedback::before,
.client-feedback::after {
  position: absolute;
  content: '';
  border-bottom: 2px solid #18cfab;
  left: 50%;
  width: 79px;
}

.client-feedback::after {
  top: 155px;
  margin-left: -30px;
}

.content {
  display: none;
  margin-right: 0px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  padding-top: 40px;
  color: #bbb;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.content.active.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: block;
}

.shape {
  padding-top: 70px;
}

.client-feedback h4 {
  text-transform: uppercase;
  color: #18cfab;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  padding-top: 40px;
}

.client-feedback p {
  padding-top: 10px;
  font-size: 14px;
  color: #bbb;
}

.choosed {
  width: 143px;
  height: 142px;
  margin-top: 50px;
  border: 10px solid rgba(31, 218, 181, 0.3);
  mix-blend-mode: normal;
  border-radius: 50%;
}

.swiper-images {
  align-items: center;
  margin: 100px auto 0;
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.swiper-images img {
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid rgba(31, 218, 181, 0.3);
  mix-blend-mode: normal;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  transition: 0.5s;
}

.swiper-images img.active {
  margin-top: -25px;
  transition: 0.5s;
}

.swiper-images button {
  width: 31px;
  height: 31px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1px solid #bbb;
  cursor: pointer;
}

.previous {
  background: url(../img/client_feedback/next.svg) center;
  transform: scale(-1, 1);
}

.next {
  background: url(../img/client_feedback/next.svg) center;
}

.swiper-images button:hover {
  background-color: #18cfab;
  transition: 0.5s;
}

.gallery {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  text-align: center;
}

.gallery-image:hover {
  filter: brightness(50%);
}

.gallery-image {
  position: relative;
}

.gallery-image:hover::before {
  content: '';
  width: 25px;
  height: 25px;
  background-image: url(../img/gallery/loop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #14b9d5;
  position: absolute;
  left: 10%;
  top: 50%;
}

.gallery-image:hover::after {
  content: '';
  width: 25px;
  height: 25px;
  background-image: url(../img/gallery/arrows.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #14b9d5;
  position: absolute;
  left: 30%;
  top: 50%;
}

.gallery::before {
  top: 50px;
  margin-left: -39px;
}

.gallery::before,
.gallery::after {
  position: absolute;
  content: '';
  border-bottom: 2px solid #18cfab;
  left: 50%;
  width: 79px;
}

.gallery::after {
  top: 55px;
  margin-left: -30px;
}

.sections {
  margin-top: 115px;
  margin-bottom: 200px;
  display: flex;
}

.gallery-image {
  display: inline-block;
  flex-direction: row;
  padding-bottom: 20px;
}

.gallery h3 {
  margin-top: 100px;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
}

.nine__images {
  padding-bottom: 20px;
}

.nine__images .gallery-image {
  padding: 0;
}

.nine__images img {
  width: 120px;
  height: 90px;
}

.two__images img {
  width: 180px;
}

.section__three {
  padding-left: 15px;
}

.gallery .load-more {
  margin: -150px auto 80px;
}

footer {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #aeaeae;
  height: 120px;
  background: #22353f;
}

footer p {
  padding-top: 50px;
}

footer span {
  color: #18cfab;
}
