<section class="breaking-news">
  <div class="bn-title">
    <h3>Breaking News</h3>
  </div>
  <div class="bn-content">
  <div class="item">
    <a href="#">
      <div class="date"><p>12 Feb</p></div>
    <img src="./img/body/breaking-news/1.png" alt="">
    <h4 class="title">Amazing Blog Post</h4></a>
    <div class="under-title">
    <p class="by">By admin</p>
    <p class="comments">2 comment</p>
  </div>
</div>
<div class="item">
  <a href="#">
    <div class="date"><p>12 Feb</p></div>
  <img src="./img/body/breaking-news/2.png" alt="">
  <h4 class="title">Amazing Blog Post</h4></a>
  <div class="under-title">
  <p class="by">By admin</p>
  <p class="comments">2 comment</p>
</div>
</div>
<div class="item">
<a href="#">
  <div class="date"><p>12 Feb</p></div>
<img src="./img/body/breaking-news/3.png" alt="">
<h4 class="title">Amazing Blog Post</h4></a>
<div class="under-title">
<p class="by">By admin</p>
<p class="comments">2 comment</p>
</div>
</div>
<div class="item">
<a href="#">
<div class="date"><p>12 Feb</p></div>
<img src="./img/body/breaking-news/4.png" alt="">
<h4 class="title">Amazing Blog Post</h4></a>
<div class="under-title">
<p class="by">By admin</p>
<p class="comments">2 comment</p>
</div>
</div>
<div class="item">
<a href="#">
<div class="date"><p>12 Feb</p></div>
<img src="./img/body/breaking-news/5.png" alt="">
<h4 class="title">Amazing Blog Post</h4></a>
<div class="under-title">
<p class="by">By admin</p>
<p class="comments">2 comment</p>
</div>
</div>
<div class="item">
<a href="#">
<div class="date"><p>12 Feb</p></div>
<img src="./img/body/breaking-news/6.png" alt="">
<h4 class="title">Amazing Blog Post</h4></a>
<div class="under-title">
<p class="by">By admin</p>
<p class="comments">2 comment</p>
</div>
</div>
<div class="item">
<a href="#">
<div class="date"><p>12 Feb</p></div>
<img src="./img/body/breaking-news/7.png" alt="">
<h4 class="title">Amazing Blog Post</h4></a>
<div class="under-title">
<p class="by">By admin</p>
<p class="comments">2 comment</p>
</div>
</div>
<div class="item">
<a href="#">
<div class="date"><p>12 Feb</p></div>
<img src="./img/body/breaking-news/8.png" alt="">
<h4 class="title">Amazing Blog Post</h4></a>
<div class="under-title">
<p class="by">By admin</p>
<p class="comments">2 comment</p>
</div>
</div>
</div>
</section>