<section class="client-feedback">
  <h3>What People Say About theHam</h3>
  <div class="shape">
    <img src="./img/client_feedback/shape.svg" alt="">
  </div>
  <div id="anna" class="content slide-in-elliptic-top-fwd">
    Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam <br> facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. My name is Anna.
    <h4>Anna Ali</h4>
    <p>Back-End Developer</p>
    <img class="choosed" src="./img/client_feedback/layer-5.svg" alt="">
  </div>
  <div id="artem" class="content slide-in-elliptic-top-fwd">
    Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam <br> facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. My Name Artem.
    <h4>Artem Ali</h4>
    <p>Front-End Developer</p>
    <img class="choosed" src="./img/client_feedback/layer-4.png" alt="">
  </div>
  <div id="hasan" class="content active slide-in-elliptic-top-fwd">
      Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam <br> facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Ya Hasan.
      <h4>Hasan Ali</h4>
      <p>UX Designer</p>
    <img class="choosed" src="./img/client_feedback/layer-1.svg" alt="">
    </div>
    <div id="olga" class="content slide-in-elliptic-top-fwd">
      Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam <br> facilisis. My Name Olga.
      <h4>Olga Ali</h4>
      <p>HR specialist</p>
    <img class="choosed" src="./img/client_feedback/layer-3.svg" alt="">
    </div>

  <div class="swiper-container">
    <div class="swiper-images">
      <button class="previous"></button>
      <img class="anna" src="./img/client_feedback/layer-5.svg"></img>
      <img class="artem" src="./img/client_feedback/layer-4.png"></img>
      <img class="hasan active" src="./img/client_feedback/layer-2.svg"></img>
      <img class="olga" src="./img/client_feedback/layer-3.svg"></img>
      <button class="next"></button>
    </div>
  </div>
</section>