<section class="options">
  <div class="theme">
    <img src="./img/body/options/img-1.png" alt="" />
    <p>Different theme option</p>
  </div>
  <div class="customizable">
    <img src="./img/body/options/img-2.png" alt="" />
    <p>Fully customizable</p>
  </div>
  <div class="support">
    <img src="./img/body/options/img-3.png" alt="" />
    <p>Unlimited support</p>
  </div>
  <div class="devices">
    <img src="./img/body/options/img-4.png" alt="" />
    <p>Responsive all device</p>
  </div>
</section>