<header>
  <ul class="header__menu">
    <li class="menu__item"><a href="#">Главная</a></li>
    <li class="menu__item"><a href="#">О нас</a></li>
    <li class="menu__item"><a href="#">Блог</a></li>
    <li class="menu__item"><a href="#">Что-то ещё</a></li>
    <li class="menu__item"><a href="#">И ещё</a></li>
    <li class="menu__item"><a href="#">Логин</a></li>
  </ul>
</header>
