.green-border {
  border: 5px solid green;
}

.red-border {
  border: 5px solid red;
}

.current-price {
  border: 1px solid gray;
  border-radius: 20px;
  margin-right: 10px;
  padding: 5px;
}

.cancel-button {
  border-radius: 50%;
  border: 1px solid gray;
}

input {
  display: block;
  margin-top: 20px;
}
