/* Импортировал шрифт */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Задал фиксированную ширину (ТЗ п.1) и задал margin: 0 auto; (ТЗ п.1 ч.2) */

.container {
    width: 1280px;
    font-family: Roboto;
    margin: 0 auto;
}
/* Изменил с помощью span часть текста */

.colortext {
color: #6fd1ff;
}

/* Задал css с макета и добавил отступы */

.header-logo {
font-size: 80px;
line-height: 94px;
display: flex;
text-align: center;
margin: 63px 0 38px 0;
}

/* Задал меню флекс и отцентрировал текст */

.nav-menu-wrap {
    background-color: #35444F;
    display: flex;
    justify-content: center;
}

/* Задал отступы, применил css с макета и растянул элементы по ширине сайта */

.nav-menu-item {
    padding: 23px 35px 20px 35px;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    background-color: #35444F;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

/* Задал флекс основному блоку странички, разделил элементы внутри и добавил отступ от header */

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    }

/* Задал ширину блоку, чтоб раздвинуть блоки space-between */
    .main-section {
    width: 885px;
    }

/* Задал рамку, ширину и высоту*/

.left-menu-wrap {
    border: 1px solid #000;
    width: 344px;
    height: 400px;
}

/* Задал ширину, высоту и отступы каждому элементу в меню, применил css с макета */

.left-item {
    height: 80px;
    padding-left: 44px;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding-top: 25px;
}

/* Задал блоку рамку, высоту, отцентрировал содержимое блока */

.image {
    border: 1px solid #000;
    height: 529px;
    text-align: center;
    padding-top: 75px;
}

/* Добавил плавность при отводе мышки от картинки */

.image-logo {
    transition: 1s;
}

/* Задал абзацу css свойсвта с макета */

.main-text {
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

/* Задал высоту блока, отступы и указал флекс */

.footer {
    background-color: #63696E7A;
    margin-top: 54px;
    display: flex;
    color: #0C1927;
    height: 70px;
    margin-bottom: 30px;
}

/* Задал ширину самого меню в блоке, отступы, флекс с распределением контента, отцентрировал и задал css с макета */

.footer-menu {
    width: 875px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    box-sizing: content-box;
}

/* Задал отступы каждому элементу */

.footer-item {
    padding: 23px 0px 20px 0;
}

/* Отдельно задал отступы, задал css с макета */

.footer-copyright {
    padding: 23px 0 0 135px;
    font-size: 24px;
    line-height: 24px;
}

/* Hover's */

.nav-menu-item:hover {
    background: #222F3A;
}

.image-logo:hover {
    transition: 1s;
    transform: scale(1.1);

}

.left-item:hover {
    background: #DBDBDB;
    padding-left: 70px;
    transition: 0.5s;
    color: #161c20;
}

.footer-item:hover {
    color: #3181A6;
    text-decoration: underline;
    transition: 0.5ms;
}