.film-list {
  display: flex;
  text-align: center;
  flex-wrap: wrap; 
  margin: 0 auto;
  width: 1000px;
}
.film-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}