/* Задал всему сайту бг */

body {
  background-image: url(../img/background.png);
  background-size: cover;
}

/* Задал всему сайту шрифт, ширину и отцентрировал */

.container {
  font-family: "Roboto", sans-serif;
  width: 1030px;
  margin: 0 auto;
}

/* Задал хедеру высоту, внешний отступ и флекс, чтобы расположить контент внутри между пробелов  */

.header-box {
  height: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  color: white;
}

/* Задал логотипу флекс, чтобы отцентрировать по вертикали, расположить картинку и текст горизонтально */

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logo:hover {
  color: #f26522;
}

.logo-img {
  width: 54px;
  height: 47px;
  background-image: url(../img/header/logo.svg);
}

.logo:hover .logo-img {
  background-image: url(../img/header/logo_hover.png);
}

/* Задал тексту в лого внешние отступы и флекс, чтоб расположить текст Milan и Holydays друг под другом */

.logo-text {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: space-between;
}

/* Задал свойства с макета */

.logo-text-part1 {
  margin-top: 5px;
  font-size: 29px;
}

/* Задал свойства с макета */

.logo-text-part2 {
  font-size: 18px;
}

/* Задал флекс, чтоб расположить контент вертикально и разделить пробелами, прижав обе части к краям, как на макете */

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.email:hover,
.phone-number:hover {
  color: #f26522;
}

/* Задал ширину блока, грид, чтоб расположить элементы, как на макете */

.main-box {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Задал элементам внутри блока флекс и расположил их вертикально, задал цвет текста */

.item {
  display: block;
  color: white;
  position: relative;
}

/* Отцентрировал подписи */

.title {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item:hover .title {
  color: #f26522;
}

/* Задал расположения как на макете */

.item4,
.item5,
.item6 {
  margin-top: 20px;
}

/* Создал скрытый блок */

.hidden-hover {
  opacity: 0;
  position: absolute;
  top: 220px;
  left: 2px;
  width: 300px;
  height: 55px;
  background: #f26522;
  transition: 0.2s;
}

.item:hover .hidden-hover {
  top: 165px;
  opacity: 1;
  transition: 0.2s;
}

.hidden-hover p {
  position: absolute;
}

.item2 .hidden-hover {
  left: 4px;
}

.item2 .title {
  margin-top: 10px;
}

.from {
  font-size: 10px;
  left: 20px;
  top: 10px;
}

.price {
  font-size: 20px;
  left: 20px;
  top: 25px;
}

.details {
  font-size: 15px;
  left: 185px;
  top: 30px;
}

.details::after {
  content: "›";
  padding-left: 16px;
}

/* Отцентрировал футер и задал цвет текста */

.copyright-box {
  margin: 50px auto 15px;
  text-align: center;
  color: white;
  font-size: 12px;
}
