@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html, body {
	width:100%;
	height:100%;
	background:#f3ede2;
	overflow:hidden;
	font-family: 'Montserrat', sans-serif;
}

.g-container { max-width: 1232px; margin: 0 auto; padding: 0 16px; box-sizing: border-box; }

/*.cards-container { height: 100%; }*/

.cards-wrap {
	display: flex;
}

.cards-wrap .card-form {
	flex: 0 0 50%;
}
.cards-wrap .card-form .form-wrapper {
	padding-right: 60px;
}

.card-form input[type=number]::-webkit-inner-spin-button,
.card-form input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.cards-wrap .card-debit {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 30%;
	height: 100%;
}

.cards-wrap .card-debit .payment-cart-preview {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
}

.payment-cart-preview .card__mask {}
.payment-cart-preview .card__mask,
.payment-cart-preview .card__details { height: 100%; }
.payment-cart-preview .card__details {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	box-sizing: border-box;
	padding: 24px;
}

.payment-cart-preview .card__details .card__number {
	display: flex;
	justify-content: center;
	padding-bottom: 24px;
	font-size: 16px;
}
.payment-cart-preview .card__details .card__number span {
	display: inline-block;
	text-align: center;
	width: 1.02em;
}

.payment-cart-preview .card__details .card__number span:nth-child(4n+4) {
	margin-right: 24px;
}
.payment-cart-preview .card__details .card__expire {
	display: flex;
	justify-content: flex-end;
}

.card-debit #logo { display: none; }


.dropdown-content li>a,
.dropdown-content li>span {
	font-size: 12px;
}

.cards-wallet-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: -8px;
}

.cards-wallet-wrap .card-wallet {
	width: 31.98%;
	height: 96px;
	padding: 8px 16px;
	border: 1px solid #808080;
	border-radius: 6px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 318px;
}

.cards-wallet-wrap .card-wallet { margin: 8px; }

.cards-wallet-wrap .card-wallet .wallet__container {
	display: flex;
	align-items: center;
}

.payment-cart-preview .card__logo {
	position: absolute;
	right: 18px;
	top: 26px;
}

.payment-cart-preview .card__logo {
	display: block;
	width: 44px;
	height: 32px;
	margin-right: 8px;
	background-repeat: no-repeat;
	background-image: url("../images/otherPre.svg");
}
.cards-wallet-wrap .card-wallet .wallet__container .wallet__side-icon {
	display: block;
	width: 44px;
	height: 32px;
	margin-right: 8px;
	background-repeat: no-repeat;
	background-image: url("../images/other.svg");
}

.payment-cart-preview .card__logo.visa,
.cards-wallet-wrap .card-wallet .wallet__container .wallet__side-icon._visa {
	background-image: url("../images/visa.svg");
}

.payment-cart-preview .card__logo.mastercard,
.cards-wallet-wrap .card-wallet .wallet__container .wallet__side-icon._mastercard {
	background-image: url("../images/mastercard.svg");
}

.payment-cart-preview .card__logo.maestro,
.cards-wallet-wrap .card-wallet .wallet__container .wallet__side-icon._maestro {
	background-image: url("../images/maestro.svg");
}

.payment-cart-preview .card__logo.amex,
.cards-wallet-wrap .card-wallet .wallet__container .wallet__side-icon._amex {
	background-image: url("../images/amex.svg");
}

.cards-wallet-wrap .card-wallet .wallet__container .wallet__content {}
.cards-wallet-wrap .card-wallet .wallet__container .wallet__title {}
.cards-wallet-wrap .card-wallet .wallet__container .wallet__title span:nth-child(4n+4) {
	margin-right: 12px;
}
.cards-wallet-wrap .card-wallet .wallet__container .wallet__desc {}
