.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 20px;
}

.ip {
  margin-bottom: 20px;
}

.ip-info {
  width: 500px;
  text-align: center;
}